@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap");
td,
th {
  border: solid 1px;
}
body {
  background-color: lightpink;
  font-family: "Times new roman", serif; 

}
p {
  text-indent: 2em;
  font-weight: 900;
  font-family: Arial, Sans-serif;
  color: #FF0000;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(120, 120, 120, 0.6);
  margin-right: 80px;
  margin-left:10px;
  border-color: rgb(0, 255, 127);
  border-width: medium;
  overflow: visible;
  font: 15px Arial, sans-serif;
  height: auto;
  border: 1px solid black;
  width: 400px;
  font-style: normal;
  text-align: left;
}
/* This is for the background color for the intro paragraph*/
#intro {
  background-color: yellow; 
}
.psep {
  text-align: center;
  width: 250px;
}
.left-pic {
  float: left;
  display: inline-block;
}
a:hover {
  background-color: red;
}
a:active {
  color: purple;
}
a:visited {
  color: black;
}
a:link {
  color: Darkblue;
}
h1{
   text-decoration: underline overline;
  max-width:400px;
  text-align:center;
}
html,body{
  margin:0;
  padding:0;
}
h4{
  margin-left:10px;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: white;
    width:600px
  }
}
@media only screen and (min-width:50em){.hmBpsa{padding-top:31px;}}
