@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap");
td,
th {
  border: solid 1px;
}
body {
  background-color: lightpink;
  font-family: "Open Sans", sans-serif;
}
p {
  text-indent: 2em;
  font-weight: 900;
  font-family: Lucida Console;
  color: #FF0000;
  font-size: 15px;
  padding-right: 30px;
  margin-right: 80px;
  border-color: rgb(0, 255, 127);
  border-width: medium;
  overflow: visible;
  font: 15px Arial, sans-serif;
  height: auto;
  border: 1px solid black;
  width: 250px;
}
#intro {
  background-color: yellow;
}
div {
  width: 70px;
  height: 300px;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}